.knowledge {
    .top-banner {
        width: 100%;
        height: fit-content;
        padding: 10em;
        background-image: url(../../images/knowledge/Top-banner.jpg);
        background-position: center;
        background-size: cover;
        @media (max-width: $breakpoints-xl) {
          padding: 2.5rem;
          height: 100%;
        }
        .white {
            color: $white;
        }
    }
    .form-group {
        width: 20em;
        margin-top: 1em;
    }

    .article-section{
        width: 100%;
        background-color: #f1f0f4;
        text-align: center;
        .card {
            margin: 3em;
            border: none;
            background-color: transparent;
            text-align: left;
            .card-text{
                font-size: 10px;
            }
            .article-more {
                color: $primary;
            }
        }
        .content {
            padding: 5em 10em;
            text-align: left;
        }
    }

    .bottom-services {
        text-align: center;
        background-color: $white;
        padding: 10em;
        .bottom-service-list {
            margin: 3em;
        }
        .double-border {
            border: solid 2px $primary;
            border-radius: 50%;
            width: fit-content;
            margin: auto;
        }
        .bottom-service-item img {
            width: 10em;
            border: solid 8px $white;
            border-radius: 50%;
        }
        span {
            display: block;
        }
    }
}