.topbanner-desktop {
  .topbanner-desktop-typo {
    white-space: pre-wrap;
    &.main-title {
      margin-top: 20px !important;
    }
  }

  .topbanner-desktop-section {
    width: 100%;
    position: relative;

    .topbanner-desktop-image {
      width: 100%;
    }

    .topbanner-desktop-content {
      position: absolute;
      max-width: 450px;
      width: auto;
      background-color: #fff;
      padding: 50px;
      top: 50%;
      transform: translate(0, -50%);
      right: 100px;
    }
  }
}

.topbanner-mobile {
  padding-bottom: 100px;

  .topbanner-mobile-typo {
    white-space: pre-wrap;
    &.main-title {
      margin-top: 20px !important;
    }
  }

  .topbanner-mobile-section {
    width: 100%;
    position: relative;
    height: 400px;
    background-image: url('../../../images/services/Top-banner.jpg');
    background-position: 40%;
    background-repeat: no-repeat;
    background-size: cover;

    .topbanner-mobile-content {
      position: absolute;
      max-width: 80%;
      width: auto;
      background-color: #fff;
      padding: 30px;
      bottom: -160px;
      right: 0;
    }
  }
}
