.profile_page {
  background-image: url(../images/member/bg.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
}

body,
html {
  height: 100%;
}
