$white: white;
$black: black;
$primary: #f16338;
$secondary: #4d515a;
$third: #b7bac6;
$dark: #333333;
$light: #f1f0f4;

// $white: #fbfbfb;
$dark: #101114;
$pale-grey: #f1f0f4;
// $black: #333333;
$dusty-orange: #f16338;
$cloudy-blue: #b7bac6;
$very-light-pink: #fbece6;
$black-two: #000000;

$breakpoints-xs: 575px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1199px;
